<%

    partial("../../_functions/functions");

    FileTitle = current.source;

    var headMeta = {
        divider: " - "
    };

    if (FileTitle == "index"){
        if(typeof PageTitle !== "undefined"){
            if(PageTitle==""){
               headMeta.divider = "";
            }
        }
            
    }

    if(typeof SiteTitle === "undefined"){
        if(typeof PageTitle === "undefined"){
            TitleTag = "Matteo Bombelli - web developer";
        }else{
            TitleTag = PageTitle + headMeta.divider +"Matteo Bombelli - web developer";
        }
    }else{
        if(typeof PageTitle === "undefined"){
            TitleTag = FileTitle + headMeta.divider + SiteTitle;
        }else{
            TitleTag = PageTitle + headMeta.divider + SiteTitle;
        }
    }

    // Path to the root relative by MB :)

    PathBase = "";
    var numLivelli = current.path.length - 1;
    for (var i=0; i<numLivelli; i++){
        PathBase = PathBase + "../";
    }

    noPathBase = true;

    if(typeof onlyOnline !== "undefined"){
        if(!onlyOnline){
            noPathBase=false;
        }
    }
    
    if(noPathBase){
       urlBase = MB.general.getBaseUrl();
    }else{
        urlBase = uri + "/";
    }

    // Description Definition

    if(typeof PageDescription === "undefined"){
        PageDescription = false;
    }

%>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%- TitleTag %></title>
        <% if(PageDescription){ %>
            <meta name="description" content="<%- PageDescription %>">
        <% } %>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="application-name" content="<%- TitleTag %>" />
        <meta name="msapplication-config" content="<%- urlBase %>browserconfig.xml" />
        
        <link rel="apple-touch-icon" href="<%- uri+"/" %>apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="<%- uri+"/" %>apple-touch-icon76.png">
        <link rel="apple-touch-icon" sizes="120x120" href="<%- uri+"/" %>apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="152x152" href="<%- uri+"/" %>apple-touch-icon.png">
        
        <% // socials tags
        
        if(typeof socials === "undefined"){ %><% partial("socialsHead") %><% } %>
        
        <!-- Place favicon.ico in the root directory -->

        <!-- <link rel="stylesheet" href="<%- urlBase %>css/normalize.css"> -->
        <link rel="stylesheet" href="<%- urlBase %>assets/2016/css/main.css">
        
        <script src="<%- urlBase %>assets/2016/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        
        <script src="<%- urlBase %>assets/2016/js/plugins.js"></script>
        <script src="<%- urlBase %>assets/2016/js/main.js"></script>

    </head>